Repository Nexters/daily-phrase-web, pull requests merged in 2024-02, with the labels that each got.

#33 feat/i14-2 manage-service 리팩토링
  apps/back-office/src/app/page.tsx
  apps/back-office/src/components/manage-service/action-bar-layout.tsx
  apps/back-office/src/components/manage-service/hooks/use-manage-pagination.ts
  apps/back-office/src/components/manage-service/manage-drawer.meta.ts
  apps/back-office/src/components/manage-service/manage-drawer.tsx
  apps/back-office/src/components/manage-service/manage-service-template.tsx
  apps/back-office/src/components/manage-service/manage-service.meta.ts
  apps/back-office/src/components/manage-service/manage-table/action-bar.tsx
  apps/back-office/src/components/manage-service/manage-table/display-data-num-select.tsx
  apps/back-office/src/components/manage-service/manage-table/index.tsx
  apps/back-office/src/components/manage-service/manage-table/pagination.tsx
Labels: feat

#30 백오피스 글귀 생성 관련 UI
  apps/back-office/package.json
  apps/back-office/src/app/page.tsx
  apps/back-office/src/components/manage-service/action-bar-layout.tsx
  apps/back-office/src/components/manage-service/hooks/use-manage-drawer.ts
  apps/back-office/src/components/manage-service/hooks/use-manage-pagination.ts
  apps/back-office/src/components/manage-service/manage-drawer.meta.ts
  apps/back-office/src/components/manage-service/manage-drawer.tsx
  apps/back-office/src/components/manage-service/manage-service-template.tsx
  apps/back-office/src/components/manage-service/manage-service.meta.ts
  apps/back-office/src/components/manage-service/manage-table/action-bar.tsx
  apps/back-office/src/components/manage-service/manage-table/display-data-num-select.tsx
  apps/back-office/src/components/manage-service/manage-table/index.tsx
  apps/back-office/src/components/manage-service/manage-table/pagination.tsx
  apps/back-office/src/components/ui/data-table.tsx
  apps/back-office/src/components/ui/drawer.tsx
  apps/back-office/src/components/ui/input.tsx
  apps/back-office/src/components/ui/separator.tsx
  apps/back-office/src/components/ui/textarea.tsx
  pnpm-lock.yaml
Labels: feat, chore

#32 fix/nextjs-warning
  apps/back-office/src/app/page.tsx
  apps/back-office/src/components/manage-service/hooks/use-manage-pagination.ts
  apps/back-office/src/components/manage-service/manage-table/display-data-num-select.tsx
  apps/back-office/src/components/manage-service/manage-table/index.tsx
  apps/back-office/src/components/manage-service/manage-table/pagination.tsx
Labels: chore, fix

#36 로그인, 로그아웃 api 연결
  apps/back-office/package.json
  apps/back-office/src/apis/config/cookie/token.ts
  apps/back-office/src/apis/index.ts
  apps/back-office/src/apis/login-api/hooks.ts
  apps/back-office/src/apis/login-api/index.ts
  apps/back-office/src/apis/login-api/type.ts
  apps/back-office/src/components/base-layout/base-layout.tsx
  apps/back-office/src/components/login/login-form.tsx
  pnpm-lock.yaml
Labels: feat, chore
